body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  height: 100px;
  background-color: black;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
}

section {
  padding: 20px;
  background-color: #dedede;
}

#projects {
  background-color: white;
}

section h2 {
  text-align: center;
}

.project-card {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

section ul {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  align-items: center;
}

section li {
  padding: 10px;
}
