body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  height: 100px;
  background-color: black;
  padding: 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: grey;
}

section {
  padding: 20px;
  background-color: #dedede;
}

#projects {
  background-color: white;
}

section h2 {
  text-align: center;
  padding-bottom: 40px;
}

.project-card {
  padding-bottom: 10px;
  text-align: center;
  transition: all 0.5s ease;
}
.project-card:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

p {
  font-size: 18px;
}

section ul {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  align-items: center;
}

section li {
  padding: 10px;
}

@media screen and (min-width: 820px) {
  .projects-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  section {
    margin: 0 10%;
    padding: 100px;
    text-align: center;
  }

  section ul {
    justify-content: space-around;
  }

  nav {
    justify-content: space-around;
  }
}
